/**14.3.2023**/
/***all the best buddy***/

@import url('https://fonts.googleapis.com/css?family=Roboto');

html{
	scroll-behavior: smooth;
}
body{
	font-family: 'Roboto', sans-serif;
	width: auto;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root{
	--clr-light: #9370DB;
	--clr-accent: #F8F8FF;
	--clr-primary: #6A5ACD;
	--clr-secondary: #FFFFFF;
}

@media screen and (min-width: 968px) {
	:root {
	  --big-font-size: 3rem;
	  --h1-font-size: 2.25rem;
	  --h2-font-size: 1.5rem;
	  --h3-font-size: 1.25rem;
	  --normal-font-size: 1rem;
	  --small-font-size: 0.875rem;
	  --smaller-font-size: 0.813rem;
	}
}

ul {
	list-style-type: none;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}

img{
	max-width: 100%;
	height: auto;
}

/*navbar design */

.navbar-logo{
	padding: 15px;
	color: var(--clr-secondary);
}
.navbar-logo{
	font-family: 'Abril Fatface', cursive;
	font-family: 'Bebas Neue', cursive;
	font-family: 'Roboto Slab', serif;
}
.navbar-mainbg{
	/* background-color: #5161ce; */
	background-color: var(--clr-primary);
	padding: 0px;
}
#navbarSupportedContent{
	overflow: hidden;
	position: relative;
}
#navbarSupportedContent ul{
	padding: 0px;
	margin: 0px;
}
#navbarSupportedContent ul li a i{
	margin-right: 10px;
}
#navbarSupportedContent li {
	list-style-type: none;
	float: left;
}

#navbarSupportedContent ul li a{
	/* color: rgba(255,255,255,0.5); */
	color: var(--clr-secondary);
    text-decoration: none;
    font-size: 15px;
    display: block;
    padding: 20px 20px;
    transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
}
#navbarSupportedContent>ul>li.active>a{
	/* color: #5161ce; */
	color: var(--clr-primary);
	background-color: transparent;
	transition: all 0.7s;
}
#navbarSupportedContent a:not(:only-child):after {
	content: "\f105";
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 14px;
	font-family: "Font Awesome 5 Free";
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
	transition: 0.5s;
}
#navbarSupportedContent .active>a:not(:only-child):after {
	transform: rotate(90deg);
}
.hori-selector{
	display:inline-block;
	position:absolute;
	height: 100%;
	top: 0px;
	left: 0px;
	transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	background-color: #fff;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	margin-top: 10px;
}
.hori-selector .right,
.hori-selector .left{
	position: absolute;
	width: 25px;
	height: 25px;
	background-color: #fff;
	bottom: 10px;
}
.hori-selector .right{
	right: -25px;
}
.hori-selector .left{
	left: -25px;
}
.hori-selector .right:before,
.hori-selector .left:before{
	content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* background-color: #5161ce; */
	background-color: var(--clr-primary);
}
.hori-selector .right:before{
	bottom: 0;
    right: -25px;
}
.hori-selector .left:before{
	bottom: 0;
    left: -25px;
}


@media(min-width: 992px){
	.navbar-expand-custom {
	    -ms-flex-flow: row nowrap;
	    flex-flow: row nowrap;
	    -ms-flex-pack: start;
	    justify-content: flex-start;
	}
	.navbar-expand-custom .navbar-nav {
	    -ms-flex-direction: row;
	    flex-direction: row;
	}
	.navbar-expand-custom .navbar-toggler {
	    display: none;
	}
	.navbar-expand-custom .navbar-collapse {
	    display: -ms-flexbox!important;
	    display: flex!important;
	    -ms-flex-preferred-size: auto;
	    flex-basis: auto;
	}
}


@media (max-width: 991px){
	#navbarSupportedContent ul li a{
		padding: 12px 30px;
	}
	.hori-selector{
		margin-top: 0px;
		margin-left: 10px;
		border-radius: 0;
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
	}
	.hori-selector .left,
	.hori-selector .right{
		right: 10px;
	}
	.hori-selector .left{
		top: -25px;
		left: auto;
	}
	.hori-selector .right{
		bottom: -25px;
	}
	.hori-selector .left:before{
		left: -25px;
		top: -25px;
	}
	.hori-selector .right:before{
		bottom: -25px;
		left: -25px;
	}
}

/*main body of the page*/

.bodyofthepage{  
	background:url(images/photo.jpg);
	background-size: cover;
	height: 90vh;
	margin-top: 1.2px;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-blend-mode: multiply;
}

.bg-text {
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
	color: var(--clr-secondary);
	font-weight: bold;
	border: 3px solid #f1f1f1;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	width: 80%;
	padding: 20px;
	text-align: center;
	text-shadow: #6A5ACD 1px 2px 6px;
}

#mainboxpara{
	font-family: 'Abril Fatface', cursive;
	font-family: 'Bebas Neue', cursive;
	font-family: 'Roboto Slab', serif;
}

.button-42 {
  background-color: initial;
  background-image: linear-gradient(-180deg, #9370DB, #6A5ACD);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
  height: 40px;
  line-height: 40px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 40%;
  z-index: 9;
  border: 0;
  transition: box-shadow .2s;
}

.button-42:hover {
  box-shadow: rgba(174, 31, 176, 0.434) 0 3px 8px;
}


/*responsive problems remain*/

@media(min-width: 320px){
	.bodyofthepage{
		background-size: auto;
	}
	.button-42 {
		width: 50%;
		z-index: 9;
	}
}
